<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>The Gossip Project !</h1>
    <h2>Liste des potins</h2>
    <ul>
    <% gossips.each do |gossip| %>
      <li>
        <a href="/gossips/<%= gossip.id %>">
          <%= gossip.author %>: <%= gossip.content %>
        </a>
      </li>
    <% end %>
  </ul>
    <p>Pourquoi pas créer un gossip ?</p>
    <a href="/gossips/new/">Crée un Gossip !</a>
  </body>
</html>
