<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>The Gossip Project !</h1>
    <p>La liste des gossips arrive bientôt !</p>
    <p>En attendant, pourquoi pas créer un gossip ?</p>
    <a href="/gossips/new/">Crée un Gossip !</a>
  </body>
</html>
